WEBDAV_SERVER=https://dav.yandex.ru
WEBDAV_USER=some_login
WEBDAV_PASSWORD=some_password
INPUT=/Sync
OUTPUT=./Sync
THREADS=4
TIMEOUT=600
QUEUE_FILE=./queue.json
EXISTING_FILES_ROOTS=/libraries/movies,/libraries/archive
EXISTING_FILES_SCAN_EVERY=24h
